/* --------------- styles for tabs -----------------------*/

.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}



.publication-tabs-tabs__list {
  margin: 0;
  padding: 0;
}
.publication-tabs-tabs__item {
  display: inline-block;
}

.publication-tabs-tabs__link {
  display: inline-block;
  padding: 1em  2em;
  //background: #f2f2f2;
  cursor: pointer;
  //color: #148297;
}

[aria-selected="true"].publication-tabs-tabs__link {
  //color: #000;
}

.publication-tabs-tabs__content {
  //background: #f2f2f2;
  padding: 1em;
}

[aria-hidden="true"].publication-tabs-tabs__content {
  display: none;
}
