<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | ECACTJ</title>
</head>

<body class="
    layout--{{ layout | slugify }} 
    page--{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %} 
">

    {% include "partials/header.njk" %}

    <div class="col-page">
       <article>
        <h2>{{ page.title }}</h2>
        {% block contentMain %}contentMain{% endblock %}            
        </article>
    </div>

    {% include "partials/footer.njk" %}

    <script type="module" src="{{ '/assets/app.js' }}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
