/* --- Set theme specific variables, overwrite components/_variables -------- */

$accentColor:               rgb(91, 195, 255);  // orange
$backgroundColorPrimary:    rgb(239, 239, 239); // lighter gray
$backgroundColorSecondary:  rgb(85, 85, 85); // darker gray
$fontColorOnBackground:     white;

$accentColorHover:          darken( $accentColor, 35% );
$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25));  // ~18px
$font-size-xlarge:        ceil(($font-size-large * 1.2));

$fontSans: "Open Sans", sans-serif;
$fontSerif: "Playfair Display", serif;
   
/* --- Set common styles ---------------------------------------------------- */
@import "scss/_mixins";
@import "scss/_layout";
@import "scss/_page-publications";
@import "scss/_page-events";
@import "scss/_page-member";
