<div class="col-footer">
    <h2>Contact</h2>
    <p>
        <a href="https://en.uit.no/ansatte/nandor.knust">Nandor Knust</a>
        <br>
        <br>
        UiT The Arctic University of Norway
        <br>
        PO Box 6050 Langnes<br />N-9037 Tromsø<br />Norway
        <br>
        <br>
        +47 77 64 55 80
        <br>
        <a href="mailto:nandor.knust@uit.no">nandor.knust@uit.no</a>
    </p>
    <h2 class="sr-only">Connect</h2>
    <div class="social-icons">
        <a href="/events-feed.xml"><i class="fa fa-rss fa-lg"></i></a>
    </div>
    <div class="imprint">
        <a href="/en/legal-notice/">
            Legal Notice
        </a>
        <a href="/en/data-protection/">
            Data Protection
        </a>
    </div>
</div>
